.sidebar{
    width: 200px;
    a{
        color: black;
    }
    a:hover{
        color: black;
        font-weight: bold;

    }
}
.navbar-nav{
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    a:hover{
        color: gold;
        font-weight: bold;
        background: #212529;
    }
}
.dropdown-menu{
    background: #212529;
}
.navbar-expand-md{
    img{
        width: 70px;
        height: auto;
        margin-right: 50px;
    }
}

.main{
    width: 90%;
    margin-left: 10%;
    h1{
        text-align: center;
    }
    .cards{
        display: grid;
        gap: 80px !important;
        grid-template-columns: repeat(auto-fill,22rem);
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    .card-body{
        h3{
            font-weight: bold;
            text-align: center;
        }
        .description{
            min-height: 150px;
        }
    }
}

footer{
    background: #212529;
    color: whitesmoke;
}


//-------------------------------------------------commun-----------------------------------------------
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}